spec:
  type: NodePort
  ports:
  - nodePort: 30080
    port: 80
    protocol: TCP
    targetPort: 80
    name: http
  - nodePort: 30443
    port: 443
    protocol: TCP
    targetPort: 443
    name: https